---
layout: page
---
<!--
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta" style="margin-bottom:5px">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
	<div class="notepad-index-post-tags" style="">
		{% for tag in post.tags %}<a href="{{ site.baseurl }}/search/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
	</div>
</div>
<hr>
{% endfor %}
-->

<h1 style="font-size: 24px;">Lastest News</h1>
<h2 style="font-size: 20px;">SusML Workshop 2025</h2>
The <a href="https://susml.net">SusML workshop</a> was held at the Max Planck Institute for the Physics of Complex Systems in Dresden, Germany. It has been three intense and exciting days filled with inspiring talks and fruitful discussions on how to make machine learning research more sustainable. As always, many questions remain open, but I hope all participants enjoyed the workshop as much as I did. A big thanks to the co-organizers (Mariana Rossi, Gianaurelio Cuniberti. Milica Todorović, and Alexandre Tkatchenko) for their support in making this workshop possible!

<p align="center">
  <img src="{{ site.url }}/img/news/susML.jpg" alt="Leonardo" width="300"/>
</p>

<hr>

<h1 style="font-size: 24px;">Recent Publication</h1>
<h2 style="font-size: 20px;">Extending quantum-mechanical benchmark accuracy to biological ligand-pocket interactions</h2>
Mirela Puleva, Leonardo Medrano Sandonas, Balázs D. Lőrincz, Jorge Charry, David M. Rogers, Péter R. Nagy, and Alexandre Tkatchenko 
<br>
<a href="https://www.nature.com/articles/s41467-025-63587-9">Nature Communications 16, 8583 (2025)</a>

<p align="center">
  <img src="{{ site.url }}/img/recent/quid.jpg" alt="Leonardo" width="500"/>
</p>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

